{% extends "UserPages/layout.html" %}

{% block body %}
<h1>Moderate Page</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Search
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  <li>

    <form method="get">
      {{postFilter.form}} <br><br>
      <div class="form-row text-right">
      <button class="btn btn-primary" type="submit">Search</button>

  </li>
  </ul>
</div>



{% for post in posts %}

{% if user == post.author or perms.UserPages.delete_usercontent %}
<div class="card mt-2">
  <div class="card-header"><strong>{{post.title}}</strong></div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5 class="card-title"></h5>
      {% if post.graditude %}
      <p><strong>Being Greatful for:</strong> {{post.graditude}}</p>
      {% endif %}
      <p><strong>Journal Entry: </strong> {{post.content}}</p>
         
    </div>
    <div>
      
       <form method="post">
          {% csrf_token %}
          <button type = "submit" class="btn btn-danger" name = "post-id" value="{{post.id}}">Delete</button> 
        </form>
      
      {% if user.is_staff %}
      <form method="post">
        {% csrf_token %}
        <button type = "submit" class="btn btn-warning mt-2" name = "user-id" value="{{post.author.id}}">Ban User</button> 
      </form>
      {% endif %}
    </div>
  </div>
  <div class="card-footer text-muted"><strong><b>@{{ post.author.username }}</b></strong> | <b>Created:</b> {{post.created_at}} {% if post.updated_at != post.created_at %}| <b>Updated:</b> {{post.updated_at}}  {% endif %}| <b>Feeling:</b> {{post.mood}}, {{post.feeling}} / 10</div>
</div>
{% endif %}
{% empty %}
<p>No post Yet!</p>

{% endfor %}


<br>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}