<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url "UserPages:index" %}" class="nav-link">Home</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'UserPages:create-entry' %}" class="nav-link">Add Journal Entry</a></li>
        {% endif %}
        

      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
       
       

  
        
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Hello, {{user.username}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
            <li><a class="dropdown-item" href="{% url 'UserPages:logout' %}">Logout</a></li>
            {% if perms.UserPages.delete_usercontent %}
            <li><a class="dropdown-item" href="{% url 'UserPages:mod' %}">Moderate</a></li>
            {% endif %}

          </ul>
        </div>

        {% else %}
        <li class="nav-item"><a href="{% url 'UserPages:login' %}" class="nav-link">Login</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
