{% extends 'UserPages/layout.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<form method="post">
{% csrf_token %}{{form|crispy}}
<ul><li>Your password can’t be too similar to your other personal information.</li>
  <li>Your password must contain at least 8 characters.</li>
  <li>Your password can’t be a commonly used password.</li>
  <li>Your password can’t be entirely numeric.</li>
</ul>
<button type="submit" class="btn btn-success">Change Password</button>
</form>

{% endblock %}