{% extends 'UserPages/layout.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block headtag %} 
<style>
  body{
    background-image: url("{% static 'UserPages/images/space.gif' %}");
    background-color: darkblue;
    background-repeat: no-repeat;
    background-size: cover;
    color: lightgray;
  }
    

  </style>
{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<form method="post">
{% csrf_token %}{{form|crispy}}
<p>Don't have an account? Create one <a href="{% url 'UserPages:sign_up' %}">Here</a>!</p>
<button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}